[Unit]
Description="Smartcaps"
After=multi-user.target
Requires=multi-user.target

[Service]
ExecStart=/usr/local/bin/smartcapsd
StandardOutput=journal

[Install]
WantedBy=default.target
