[Unit]
Description="Smartcaps"
/* Documentation=man:smartcaps */

[Service]
ExecStart=/usr/local/bin/smartcaps
StandardOutput=journal

[Install]
WantedBy=multi-user.target
