[Unit]
Description="Smartcaps"
After=sshd.service

[Service]
ExecStart=/usr/local/bin/smartcaps
StandardOutput=journal

[Install]
WantedBy=multi-user.target
